#
# Example yadifa configuration file.
#

<main>
        # Detach from the console
        daemon                      off

        # Jail the application
        chroot                      off

        # The path where all the log files will be written
        logpath                     "/var/log/yadifa"

        # The location of the pid file
        pidfile                     "/var/run/yadifad.pid"    

        # The path where all zone files will be written
        datapath                    "/var/zones"

        # The path where the DNSSEC keys are found
        keyspath                    "/var/zones/keys"

        # The path where the transfer and journaling files will be written (AXFR & IXFR)
        xfrpath                     "/var/zones/xfr"

        # The version returned by a query to version.yadifa. CH TXT
        version                     "2.0.4"

        # Set the maximum UDP packet size.  Cannot be less than 512.  Cannot be more than 65535.  Typical choice is 4096.
        edns0-max-size              4096

        # The maximum number of parallel TCP queries.

        max-tcp-queries             100

        # The user id to use (an integer can be used)
        uid                         root

        # The group id to use (an integer can be used)
        gid                         root

        # The DNS port.  Any DNS query will be made using that port unless a specific value is used.
        port                        53

        # The interfaces to listen to.
        listen                      0.0.0.0

        # Enable the collection and logging of statistics
        statistics                  on

        # Choose the query log format (0 for none, 1 for YADIFA, 2 for BIND compatible, 3 for YADIFA and BIND)
        queries-log-type            1


        # Drop queries with erroneous content
        # answer-formerr-packets    on

        # Maximum number of records in an AXFR packet.  Set to one for compatibility
        # with very old name servers
        # axfr-maxrecordbypacket    0

        # Global Access Controlrules.
        #
        # Rules can be defined on network ranges, TSIG signatures, and ACL rules

        # simple queries:
        allow-query                 any

        # dynamic update of a zone
        allow-update                none

        # transfer of a zone (AXFR or IXFR)
        allow-transfer              none

        # notify of a change in the master
        allow-notify                none

</main>

#
# Logging output channels configurations
#
# name  stream-name arguments
#
# name          is arbitrary
# stream-name   defines the output type (ie: a file name or syslog)
# arguments     is specific to the output type (ie: unix file access rights or syslog options and facilities

<channels>
#       name        stream-name     arguments
        database    database.log    0644
        dnssec      dnssec.log      0644
        server      server.log      0644
        statistics  statistics.log  0644
        system      system.log      0644
        zone        zone.log        0644
        queries     queries.log     0644
        all         all.log         0644

        syslog      syslog          USER,CRON,PID

        # although possible, these two do not do make much sense if daemon is enabled

        stderr      STDERR
        stdout      STDOUT
</channels>

# Logging input configurations
#
# name debug-level channels
#
# name          is predefined
# debuglevel    uses the same names as syslog or * or all to filter the input
# channels      is a comma-separated list of channels

# In production, use EMERG,ALERT,CRIT,ERR,WARNING,NOTICE,INFO instead of *

<loggers>
#       bundle          debuglevel                          channels
        database        *                                   database,all
        dnssec          *                                   dnssec,all
        server          *                                   server,all
        statistics      *                                   statistics
        system          *                                   system,all
        zone            *                                   zone,all
        queries         *                                   queries
</loggers>

#
# TSIG Key configuration
#

<key>
        name        abroad-admin-key
        algorithm   hmac-md5
        secret      WorthlessKeyForExample==
</key>

<key>
        name        master-slave
        algorithm   hmac-md5
        secret      MasterAndSlavesTSIGKey==
</key>

#
# Access Control List definitions
#

<acl>
        transferer  key master-slave
        admins      192.0.2.0/24, 2001:db8::74
        master      192.0.2.53
</acl>

#
# Master domain zone config
# 

<zone>
        type                    master
        domain                  localhost
        file                    masters/localhost.zone
        allow-transfer          none
        allow-update            none
        allow-update-forwarding none
</zone>

<zone>
        type                    master
        domain                  localhost6
        file                    masters/localhost6.zone
        allow-transfer          none
        allow-update            none
        allow-update-forwarding none
</zone>

<zone>
        type                    master
        domain                  0.0.127.in-addr.arpa
        file                    masters/0.0.127.in-addr.arpa.zone
        allow-transfer          none
        allow-update            none
        allow-update-forwarding none
</zone>

<zone>
        type                    master
        domain                  0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa
        file                    masters/0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa.zone
        allow-transfer          none
        allow-update            none
        allow-update-forwarding none
</zone>

<zone>
# This server is master for that zone (mandatory)
        type        master

# The domain name (mandatory)
        domain      somedomain.eu.

# The zone file, relative to 'datapath'.  (mandatory for a master)
        file        masters/somedomain.eu.zone
</zone>

